<div class="container mt-5" style="max-width: 600px">
  <h3 class="mb-4 text-center">🔒 Change Password</h3>
  <form [formGroup]="passwordForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Old Password</label>
      <input
        type="password"
        formControlName="oldPassword"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
      />
    </div>
    <div class="d-grid">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="passwordForm.invalid"
      >
        Change Password
      </button>
    </div>

    <p *ngIf="message" class="text-success mt-3 text-center">{{ message }}</p>
    <p *ngIf="error" class="text-danger mt-3 text-center">{{ error }}</p>
  </form>
</div>
